<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Usuário</title>

    <link rel="stylesheet" href="../../../public/css/form_excluir_usuarios.css">

</head>
<body>
    
    <form class="container">
            <div class="campo-titulo"><h1>Excluir Usuário</h1></div>

            <div class="campo-texto"><h2>Deseja realmente excluir o usuário? Essa ação é definitiva</h2></div>

            <div class="campo-botoes">
                <button class="botao" type="submit" onsubmit="">Cancelar</button> 
                <button class="botao" type="submit" onsubmit="">Concluído</button> 
            </div>
    </form>

</body>
</html>