<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Usuário</title>

    <link rel="stylesheet" href="../../../public/css/form_visualizar_usuarios.css">

</head>
<body>
    
    <form class="container">
            <div class="campo-titulo"><h1>Dados do Usuário</h1></div>

            <div class="caixa-selecao">
                <label for="nome"><strong>Nome:</strong></label>
                <input type="text" value="Maria Almeida" name="nome" id="nome" readonly disabled>
            </div>

            <div class="caixa-selecao">
                <label for="email"><strong>Email:</strong></label>
                <input type="text" value="maria_almeida@gmail.com" name="email" id="email" readonly disabled>
            </div>

            <div class="caixa-selecao">
                <label for="senha"><strong>Senha:</strong></label>
                <input type="value" value="senha123" name="senha" id="senha" readonly disabled>
            </div>

            <div class="campo-botoes">
                <button class="botao" type="submit" onsubmit="">Cancelar</button> 
                <button class="botao" type="submit" onsubmit="">Concluído</button> 
            </div>
    </form>

</body>
</html>