<!DOCTYPE html>

<html lang="pt-br"></html>

<head>
    <title>Lista de Usuários</title>
    <meta name="viewport" content="width=devide" charset="utf-8">
    <link rel="stylesheet" href="../../../public/css/lista_usuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>


<body>
    <h1 class="Titulo">Lista de Usuários</h1>
    <div id="conteiner">
        <table>
            <caption>
                <!--Caso queria colocar um caption: insere ele aqui-->
                <div class="add">
                    <a href="#"> <img src="../../../public/assets/icon_add.png" alt="Adicionar" height="50"
                            width="50"></a>
                    <p>Adicionar Usuário</p>
                </div>
            </caption>
            <tr class="cabecalho"> <!--Primeira linha-->
                <th>#</th>
                <th>Nome</th>
                <th>Opções</th>
            </tr>
            <tr class="corpo"> <!--Segunda linha-->
                <td>1</td>
                <td>Jõao Vitor</td>
                <td class="icon">
                    <a href="#"> <i class="fa fa-eye" alt="Visualiar"></i> </a>
                    <a href="#"><i class="fa fa-outdent" aria-hidden="true"></i> </a>
                    <a href="#" onclick="return confirm('Tem certeza de que deseja excluir este elemento?')">
                        <i class="fa fa-times" alt="Deletar"></i>
                    </a>
                </td>
            </tr>
            <tr class="corpo"> <!--Terceira linha-->
                <td>2</td>
                <td>Anna Júlia</td>
                <td class="icon">
                    <a href="#"> <i class="fa fa-eye" alt="Visualiar"></i> </a>
                    <a href="#"><i class="fa fa-outdent" aria-hidden="true"></i> </a>
                    <a href="#" onclick="return confirm('Tem certeza de que deseja excluir este elemento?')">
                        <i class="fa fa-times" alt="Deletar"></i>
                    </a>
                </td>
            </tr>
            <tr class="corpo"> <!--Quarta linha-->
                <td>3</td>
                <td>Helena</td>
                <td class="icon">
                    <a href="#"> <i class="fa fa-eye" alt="Visualiar"></i> </a>
                    <a href="#"><i class="fa fa-outdent" aria-hidden="true"></i> </a>
                    <a href="#" onclick="return confirm('Tem certeza de que deseja excluir este elemento?')">
                        <i class="fa fa-times" alt="Deletar"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>