<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../../../public/css/lista_usuarios.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap">
</head>
<body>
    <div title="Adicionar Usuário" class="add">
        <div>+</div>

    </div>
    <div class="content">
        <ul>
        <li>Gabriel de Faria Salles</li>
        </ul>
        <div class="visualizar">  
            <img title="Visualizar Usuário" src="../../../public/assets/visualizar.png" alt="Visualizar" height="32px" width="32px">
        </div>

        <div class="editar">  
            <img title="Editar Usuário" src="../../../public/assets/editar.png" alt="Editar" height="32px" width="32px">
        </div>

        <div class="deletar">  
            <img title="Deletar Usuário" src="../../../public/assets/deletar.png" alt="Deletar" height="32px" width="32px">
        </div>
    </div>

    <div class="content">
        <ul>
        <li>Luiz Phonefy </li>
        </ul>
        <div class="visualizar">  
            <img title="Visualizar Usuário" src="../../../public/assets/visualizar.png" alt="Visualizar" height="32px" width="32px">
        </div>

        <div class="editar">  
            <img title="Editar Usuário" src="../../../public/assets/editar.png" alt="Editar" height="32px" width="32px">
        </div>

        <div class="deletar">  
            <img title="Deletar Usuário" src="../../../public/assets/deletar.png" alt="Deletar" height="32px" width="32px">
        </div>
    </div>

</body>
</html>