body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(#232330, #21b6e6);
    background-repeat: no-repeat; */
    background-color: #2b4c63;
}

ion-icon {
    color: white;
    font-size: 30px;
}

.dashboard {
    /* background-color: blue; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffffff;

    margin-bottom: 200px;
}

.dashboard-nav {
    background-color: #41b6e6;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-nav a {
    text-decoration: none;
    margin-right: 2%;
}

.icon-name {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 1%;
    opacity: 0.8;
}

.icon-name-logout {
    background-color: #41b6e6;
    display: flex;
    align-items: center;
    /* margin-right: 2%; */
    opacity: 0.9;

    border: none;

    cursor: pointer;
    color: #ffffff;
}

.icon-name-logout ion-icon {
    --ionicon-stroke-width: 45px;
}

/* .icon-name-logout h4 {
    display: none;
}
.icon-name-logout:hover h4{
    display: block;
} */


.dashboard-main {
    /* background-color: red; */
    width: 90%;
}

.card-page {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 70px;
    padding-bottom: 70px;
}

.card-page ion-icon {
    --ionicon-stroke-width: 45px;
    opacity: 0.9;
}

.card {
    width: 25%;
    height: 120px;
    box-shadow: 0px 10px 14px -7px #1f2f47;
    background: linear-gradient(to bottom, #41b7e6 5%, #0e8fc2 100%);
    background-color: #41b7e6;
    border-radius: 8px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.card:hover {
    background: linear-gradient(to bottom, #0e8fc2 5%, #41b7e6 100%);
    background-color: #0e8fc2;
}

.card:active {
    position: relative;
    top: 1px;
}

.lasted-posts {
    background-color: #ffffff;
    text-align: center;
    /* color: #2a7494; */
    color: #2b4c63;
    padding-top: 1px;
}

.lasted-posts ion-icon {
    font-size: 20px;
    /* color: #2a7494; */
    color: #2b4c63;
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
}

table {
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

th,
td {
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #41b6e6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#details-tam {
    width: 10%;
}

#details {
    display: flex;
    justify-content: flex-end;

    cursor: pointer;
}

#details a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-icon ion-icon {
    margin-left: -5px;
}


@media (max-width:950px) {
    .dashboard-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-page {
        width: 95%;
    }

    .card {
        padding: 10px;
    }

    .lasted-posts {
        width: 100%;
    }
}

@media (max-width:450px) {
    .dashboard {
        width: 100%;
    }

    .icon-name h3 {
        display: none;
    }

    .card-page {
        width: 100%;
    }

    .card-page h2 {
        font-size: 15px;
    }

    .card {
        width: 40%;
        height: 90px;
        text-align: center;
    }

    .card ion-icon {
        display: none;
    }

    #details span {
        display: none;
    }

    #table-th th:first-child,
    td:first-child{
        display: none;
    }
}