
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#232330, #41b6e6);
    /* background-image: linear-gradient(purple, #41b6e6); */
}

.teste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#posts {
    /* background-color: purple; */
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.teste2 {
    width: 90%;
    position: absolute;
    top: 100px;

    display: flex;
    justify-content: flex-end;
}

.search-box{
    /* width: 90%;
    position: absolute;
    top: 100px; */
    /* right: 125px; */
    
    /* height: 40px; */
    padding: 1px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    background-color: #41b6e6;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    /* padding: 0; */
    color: #EEF0F2;
    font-size: 16px;
    line-height: 40px;
    width: 0px;
}

.search-btn{
    margin: 0;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-box:hover > .search-txt{
    width: 300px;
    transition: 1s;
}

.blog-container{
    /* background-color: lime; */
    /* width: 90%; */
    display: -webkit-inline-flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    /* margin: 160px 80px; */
    margin-top: 160px;
    flex-wrap: wrap;
}

.blog-box{
    display:flexbox;
    /* width: 399px; */
    width: 28%;
    object-position: center;
    background-color: #EEF0F2;
    border: 5px solid #41b6e6;
    /* margin: 25px; */
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 16px;
}

.blog-image{
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.blog-image img{
    /* width:405px; */
    width: 105%;
    height:398px;
    /* transform: translate(-15px, -2px); */
    transform: translate(-4.5%, -2px);
    object-fit: cover;
    object-position: center;
    border-radius: 16px;

    filter: blur(0.5px);
    filter: brightness(0.9);
}

.blog-image:hover > .blog-text > .blog-title{
    color: #41b6e6;
    transition: all ease 0.3s;
}

.blog-image:hover{
    scale: 1.01;
    transition: all ease .3s;
}

.blog-image:hover img{
    filter: none;
}

.blog-text{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #41b6e6;
    font-size: 0.9rem;
    padding-top: 8  px;
    padding-bottom: 8px;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2f2f3b;
}

.blog-text .blog-title:hover{
    color: #41b6e6;
    transition: all ease 0.3s;
}

.blog-text p{
    color: #2f2f3b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;

}

.blog-text a{
    color: #232330;
}

.blog-text a:hover{
    color: #41b6e6;
    transition: all ease 0.3s;
}

@media (max-width:1200px)
{
    .blog-box {
        width: 40%;
    }
}

@media (max-width:950px)
{
    .teste2 {
        width: 46%;
    }
    .blog-container {
        justify-content: center;
    }
    .blog-box {
        width: 51%;
    }
    
}
