body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#232330, #297795);
    background-repeat: no-repeat;
    height: 100vh;
    
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    
    background-color: #232330;
    position:fixed;
  
    
    top: 30%;
    /* left: 39.5%; */
    transform: translate(-50%,-50%);
    padding: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 14px;
    color: white;
    text-align: center;
    
}
ul{
    padding:  20px;
}
input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 13.5px;
}
.login{
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 30px;
}
.entrar{
    background-color: #1f556b;
    cursor: pointer;
    font-size: 14px;
    color: white;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 9px;
    border-color:rgba(0, 0, 0, 0);
}
.entrar:hover{
    background-color:#173ca4 ;
}
.recuperar{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #41b6e6;
    cursor: pointer;
    padding-top: 4px;
    
}
.cadastro{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #41b6e6;
    cursor: pointer;
    padding-top: 15px;
}
.logo{
    background-color: rgba(0, 0, 0, 0);
    top: 2%;
}



