
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing   : border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(#232330, #41b6e6); */
    background-color: #2b4c63;
}

/* -----------Botoes para exemplificar------- */
#myBtn-create {
    margin-left: 5%;
    margin-top: 5%;
    width: 200px;
    height: 100px;
}

#myBtn-edit {
    margin-left: 5%;
    margin-top: 5%;
    width: 200px;
    height: 100px;
}

#myBtn-delete {
    margin-left: 5%;
    margin-top: 5%;
    width: 200px;
    height: 100px;
}
/* ----------------------------------------- */


button{
    /* margin-top: 3%; */
    font-size: 14px;
    height: 38px;
    width: 140px;
    border-radius: 15px;
    background-color: #41B6E6;
    color: #EEF0F2;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    /* overflow: auto;  */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content{
    background-color: #2F2F3B;
    margin: 0 auto;
    border: solid #232330;
    border-radius: 8px;

    /* height: auto; */
    width: 700px;

    /* margin-top: 0;
    margin-bottom: 5%; */

    padding-left: 2%;
    padding-right: 2%;

    display: grid;
    grid-template-rows: auto auto auto;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content h1{
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 25px;
    letter-spacing: 6px;
    color: #EEF0F2;
}

.caixa-titulo{
    margin-left: 10%;
    margin-right: 10%;
}

.caixa-autor_data{
    /* background-color: rebeccapurple; */
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: 70% 28%;
    gap: 2%;
}

.caixa-selecao{
    /* background-color: brown;
    border: 1px solid yellow; */

    margin-top: 1%;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.caixa-selecao input{
    display: block;
    width: 100%;
    height: 28px;
    margin-top: 1%;
    border-radius: 8px;

    padding: 0px 50px 10 20px;
    font-size: 14px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    /* background-color: plum; */
}

.fieldset-conteudo{
    margin-top: 3%;
    /* margin-bottom: 7%; */

    display: flex;
    flex-direction: column;

    justify-content:center;
    align-content: center;
    align-items: left;
    /* background-color: aquamarine; */
}

.caixa-conteudo{
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;

    align-content: center;
}

.caixa-conteudo textarea{
    resize: none; /* Desativa a opção de redimensionar o elemento */
    overflow: auto; /* Adiciona uma barra de rolagem caso o conteúdo seja maior do que o tamanho definido */
    width: 100%; 
    height: 200px; 
    max-width: 100%; /* Define a largura máxima da textarea em 50% da largura do contêiner pai */
    max-height: 300px; /* Define a altura máxima da textarea em 300 pixels */
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 1%;
    border-radius: 0.5em;

    /* color: #EEF0F2; */
}

.custom-file-input{
    align-content: center;
    justify-content: center;
    text-align: center;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 0.5em;

    background-color: #41B6E6;
    color: #EEF0F2;
}

label{
    font-size: 14px;
    display: block;
    color: #EEF0F2;
}

input[type="text"]{
    padding-left: 15px;
}


.modal-footer{
    /* background-color: aqua; */

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5%;

    margin-top: 25px;
    margin-bottom: 60px;

    margin-left: 10%;
    margin-right: 10%;
}

/* --------- CSS DELETE ---------- */
.modal-delete {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-delete-content {
    background-color: #2F2F3B;
    margin: 0 auto;
    border: solid #232330;
    border-radius: 15px;

    height: 260px;
    width: 360px;

    margin-top: 10%;
    margin-bottom: 10%;

    display: grid;
    grid-template-rows: 33% 33% auto;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-delete-header {
    /* background-color: aqua; */

    margin-left: 5%;
    margin-right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-delete-header h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 6px;
    color: #EEF0F2;
}

.modal-delete-body {
    /* background-color: red;
    border: 1px solid blue; */
    margin-left: 10%;
    margin-right: 10%;

    justify-content: center;
    align-items: center;
    color: #EEF0F2;

    display: flex;
}

.modal-delete-body h2{
    font-size: 14px;
    text-align: left;
    display: block;
    color: #EEF0F2;
}

.modal-delete-footer {
    /* background-color: blueviolet; */

    display: flex;
    justify-content: right;
    
    justify-content: center;
    align-items: center;

    gap: 10%;
}


/* --------- Animacoes do modal --------------- */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* Responsividade */
@media screen and (max-width: 1190px){
    .modal-content{
        width: 40%;
    }

    .modal-content h1{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1090px) {
    .modal-content{
        width: 50%;
    }
}

@media screen and (max-width: 990px) {
    .modal-content{
        width: 60%;
    }
}

@media screen and (max-width: 890px) {
    .modal-content{
        width: 70%;
    }
}

@media screen and (max-width: 790px) {
    .modal-content{
        width: 80%;
    }
}

@media screen and (max-width: 690px) {
    .modal-content{
        width: 90%;
    }
}

@media screen and (max-width: 590px) {
    .modal-content{
        width: 100%;
    }
    .modal-delete-content {
        width: 100%;
    }
}