body {
    background-color: #6c78b6;
    margin: 0;
}

ion-icon {
    color: white;
    font-size: 30px;
    display: block;
    margin-left: 1%;
    opacity: 90;
}


.individual-post {
    /* background-color: red; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    margin-top: 200px;
    margin-bottom: 200px;

    animation-name: individual-post-animation;
    animation-duration: 2s;
}


.data-post {
    /* background-color: green; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-post h4 {
    display: inline-block;
    text-align: justify;
}

.data-post h1 {
    text-transform: uppercase;
}

.data-post img {
    width: 80%;
    border-radius: 1%;
}

.date-author {
    /* background-color: darkmagenta; */
    width: 80%;
    display: flex;
    justify-content: space-between;
}



.post-content {
    /* background-color: blue; */
    margin-top: 60px;
    text-align: center;
}

.post-content div {
    display: inline-block;
}


.left-content {
    /* background-color: coral; */
    width: 20%;
    padding: 20px;
}

.cute-icon {
    width: 80%;
    /* background-color: yellowgreen; */
    display: block;
    margin-top: 10px;
    opacity: 50%;
}

.cute-icon ion-icon {
    display: inline-block;
    margin-left: 10px;
}

.veja-tambem {
    background-color: #5e92ca;
    margin-top: 30px;
    border-radius: 1%;
}

.veja-tambem ul {
    list-style: none;
    padding-left: 0;
    /* height: 10px; */
}

.veja-tambem img {
    width: 80%;
    border-radius: 1%;
}

.propaganda {
    width: 100%;
    background-color: #5e92ca;
    margin-top: 20px;
    border-radius: 1%;
}

.right-content {
    /* background-color: blueviolet; */
    width: 70%;
    vertical-align: top;
    text-align: justify;
    font-size: 20px;
}

.right-content h2 {
    text-transform: uppercase;
}

.right-content img {
    width: 100%;
    border-radius: 1%;
}



.coments-section {
    /* background-color: red; */
    width: 90%;
    margin-top: 60px;
}

.coments-section div {
    display: inline-block;
}


.subscribe-post {
    /* background-color:#5e92ca; */
    width: 45%;
    text-align: center;
    border-style: dotted;
    border-color: #5e92ca;
    border-radius: 10px;
}

.subscribe-post h2 {
    animation-name: subscribe-post-amination;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.subscribe-post h3 {
    text-align: left;
    margin-left: 10px;
}

.coments-post {
    /* background-color: royalblue; */
    width: 45%;
    padding-left: 5%;
    vertical-align: top;
}

.coments-post h2 {
    margin-top: 5px;
}

.individual-coment {
    width: 55%;
    border-style: double;
    border-color: #5e92ca;
    border-radius: 2%;
    padding-left: 15px;
    line-height: 5px;
    margin-bottom: 20px;
}

.social-media-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.next-post-icon {
    position: fixed;
    bottom: 50%;
    right: 10px;
}

.next-post-icon ion-icon {
    font-size: 40px;
}

.previous-post-icon {
    position: fixed;
    bottom: 50%;
    left: 10px;
}

.previous-post-icon ion-icon {
    font-size: 40px;
}


@keyframes individual-post-animation {
    0% {
        opacity: 0;
        transform: translate(-20px,0px);
    }
    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}

@keyframes subscribe-post-amination {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



@media (max-width:1000px) {
    .post-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-content {
        visibility: hidden;
    }

    .cute-icon {
        visibility: hidden;
    }

    /* .veja-tambem {
        display: flex;
        flex-direction: row;
    } */

    .veja-tambem img {
        width: 50%;
    }



    .next-post-icon {
        visibility: hidden;
    }
    .previous-post-icon {
        visibility: hidden;
}
}