
.dash1{
    
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 8%;
    padding-right: 59%;
    padding-top: 5%;


}
.post2{
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 8%;
    padding-right: 45%;
    padding-top: 5%;
}
.usu9{
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 8%;
    padding-right: 38.55%;
    padding-top: 5%;
}

.offcanvas-header{
    background-color: #232330;
    text-align: center;
}
.offcanvas-title{
    color: white;
    text-align: center;
}



.offcanvas-body{
  /*  background-color: #313147dc; */
  background-image: linear-gradient(#232330, #41b6e6);
}
.nome7{
    color: white;
    text-align: center;
    
}
.btn-primary{
    color:#41b6e6;
    background-color:#232330;
   border-color: #41b6e6;
   /* border-radius: 3px; */
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
    
}
.dash1:hover{
    background: #161a388a;
    transform: scale(1.1);
}
.post2:hover{
    background: #161a388a;
    transform: scale(1.1);
}
.usu9:hover{
    background: #161a388a;
    transform: scale(1.1);
}
.icon5{
    color: white;
}
.close8{
    color:   white;
    background-color: #232330;
    border-color: white;
    /* border-radius: 3px; */
    padding-top: 4px;
    padding-left: 7px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
   
}
.btn-primary:hover{
    background: #f3f7f952;
    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.close8:hover{
    background: #f3f7f952;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
