<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <title>Landing Page</title>
</head>

<body>

    <div class="home">
        <div class="navbar"></div>

        <div class="Post1">

            Post 1

        </div>

        <div class="Post2">

            Post 2

        </div>

        <div class="Post3">

            Post 3

        </div>

        <div class="Post4">

            Post 4

        </div>

        <div class="Post5">

            Post 5

        </div>


        <div class="button">
            <img src="../../../public/assets/VerMais.png" alt="Ver mais">
        </div>

        <div class="footer"> </div>


        <div class="Phone"> <img src="../../../public/assets/HeadPhonefy.png">
            <div class="Som1"> <img src="../../../public/assets/SomPhonefy.png"> </div>
            <div class="Som2"> <img src="../../../public/assets/SomPhonefy.png"> </div>
        </div>


        <div>




</body>

</html>