<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <title>Landing Page</title>
</head>

<body>
    <!-- require da navbar -->
    <div class="Phone"> <img src="../../../public/assets/HeadPhonefy.png"></div>

    <div class="home">

        <div class="Post1">

            <div class="post11"> <img src="../../../public/assets/rir.jpg" alt=""> </div>
            <div class="titulo1">
                <h1> Título 1 </h1>
            </div>


        </div>

        <div class="Post2">

            <div class="post22"> <img src="../../../public/assets/rir.jpg" alt=""> </div>
            <div class="titulo2">
                <h1> Título 2 </h1>
            </div>


        </div>

        <div class="Post3">

            <div class="post33"> <img src="../../../public/assets/rir.jpg" alt=""> </div>
            <div class="titulo3">
                <h1> Título 3 </h1>
            </div>


        </div>

        <div class="Post4">

            <div class="post44"> <img src="../../../public/assets/rir.jpg" alt=""> </div>
            <div class="titulo4">
                <h1> Título 4 </h1>
            </div>


        </div>

        <div class="Post5">

            <div class="post55"> <img src="../../../public/assets/rir.jpg" alt=""> </div>
            <div class="titulo5">
                <h1> Título 5 </h1>
            </div>


        </div>
    </div>    
    <div class="button">
        <img src="../../../public/assets/VerMais.png" alt="Ver mais">
    </div>

            <!-- require do footer -->
            <!-- <div class="Som1"> <img src="../../../public/assets/SomPhonefy.png"> </div>
                 <div class="Som2"> <img src="../../../public/assets/SomPhonefy2.png"> </div> -->

</body>

</html>