<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Phonefy</title>
    <link rel="stylesheet" href="../../../public/css/lista_de_posts.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">

</head>

<body>

    <div class="search-box">
        <input type="text" class="search-txt" placeholder="Pesquisar">
        <a href="" class="search-btn">
            <img src="../../../public/assets/lupa.svg" alt="Lupa" height="20px" width="20px">
        </a>
    </div>

    <section id="posts">

        <div class="blog-container">

            <!-- Box1 -->
            <div class="blog-box">
                <div class="blog-image">
                    <a href="https://whiplash.net/materias/news_709/350367-queen.html" target="_blank"><img
                            src="../../../public/assets/queen.jpg" alt="Icone com imagem do Queen  "></a>
                    <div class="blog-text">
                        <span> 17/04/2023 by Luiz Oliveira</span>
                        <a href="https://whiplash.net/materias/news_709/350367-queen.html" target="_blank"
                            class="blog-title">O clássico
                            do Queen cujo riff Brian May compôs "no topo de um vulcão"</a>
                        <p>Todo fã do lado roqueiro do Queen certamente conhece essa faixa, que abre seu quinto álbum,
                            "A Day at the Races" (1976), e foi seu segundo single. Em entrevista para a Guitar World,
                            May relembrou que compôs aquele riff em circunstâncias no mínimo extraordinárias.</p>
                        <a href="https://whiplash.net/materias/news_709/350367-queen.html" target="_blank">Leia Mais</a>
                    </div>
                </div>
            </div>

            <!-- Box2 -->
            <div class="blog-box">
                <div class="blog-image">
                    <a href="https://whiplash.net/materias/news_708/351147-foofighters.html" target="_blank"><img
                            src="../../../public/assets/foo-figthers.jpg" alt="Icone com imagem do Queen  "></a>
                    <div class="blog-text">
                        <span> 17/04/2023 by fdsfs dfadf</span>
                        <a href="https://whiplash.net/materias/news_708/351147-foofighters.html" target="_blank"
                            class="blog-title">Foo Fighters anuncia novo álbum "But Here We Are" e lança single
                            "Rescued"</a>
                        <p>No Instagram oficial da banda, o anúncio veio acompanhado de um post com o dizer "Are you
                            thinking what I’m thinking?" (Você está pensando no que eu estou pensando?). Esse é o
                            primeiro trabalho da banda após o falecimento do baterista Taylor Hawkins.</p>
                        <a href="https://whiplash.net/materias/news_708/351147-foofighters.html" target="_blank">Leia
                            Mais</a>
                    </div>
                </div>
            </div>

            <!-- Box3 -->
            <div class="blog-box">
                <div class="blog-image">
                    <a href="https://whiplash.net/materias/news_708/351145-raulseixas.html" target="_blank"><img
                            src="../../../public/assets/Raul-seixas.jpg" alt="Icone com imagem do Queen  "></a>
                    <div class="blog-text">
                        <span> 17/04/2023 by Whiplash.Net</span>
                        <a href="https://whiplash.net/materias/news_708/351145-raulseixas.html" target="_blank"
                            class="blog-title">A ingenuidade e regressão do rock produzido na década de 1980, segundo Raul Seixas</a>
                        <p>Raul Seixas é fruto direto do início do movimento do rock mundial e viu o estilo chegar ao Brasil na década de 1950. Ao longo dos anos seguintes muita coisa aconteceu e diversas bandas surgiram.</p>
                        <a href="https://whiplash.net/materias/news_708/351145-raulseixas.html" target="_blank">Leia Mais</a>
                    </div>
                </div>
            </div>

            <!-- Box4 -->
            <div class="blog-box">
                <div class="blog-image">
                    <a href="https://whiplash.net/materias/news_708/351144-mutantes.html" target="_blank"><img
                            src="../../../public/assets/mutantes.jpg" alt="Icone com imagem do Queen  "></a>
                    <div class="blog-text">
                        <span> 17/04/2023 by Whiplash.Net</span>
                        <a href="https://whiplash.net/materias/news_708/351144-mutantes.html" target="_blank"
                            class="blog-title">Site britânico exalta álbum de estreia d'Os Mutantes como "uma obra-prima"</a>
                        <p>Na virada dos anos 90 para os 2000, um amigo me disse que teve, aqui no Brasil, nos anos 60, teve uma banda chamada Os Mutantes. Eu não sabia (e nem tinha como saber) se ela realmente existia, mas, segundo ele, era tão experimental e psicodélica que fez coisas que nem os Beatles e o Pink Floyd com tecnologia de ponta fizeram.</p>
                        <a href="https://whiplash.net/materias/news_708/351144-mutantes.html" target="_blank">Leia Mais</a>
                    </div>
                </div>
            </div>


        </div>

    </section>

</body>

</html>