<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>

    <link rel="stylesheet" href="../../../public/css/modal.css">
</head>

<body>
    <button id="myBtn-create">Criar Post</button>
    <button id="myBtn-edit">Editar Post</button>
    <button id="myBtn-delete">Excluir Post</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Editar Post</h1>
            </div>
            <div class="modal-body">
                <div class="caixa-titulo">
                    <div class="caixa-selecao">
                        <label for="titulo">Titulo:</label>
                        <input type="text" name="titulo" id="titulo" value="The National lança belo álbum com participações de Taylor Swift e Phoebe Bridgers" required>
                    </div>
                </div> 
            
                <div class="caixa-autor_data">
                    <div class="caixa-selecao">
                        <label for="autor">Autor:</label>
                        <input type="text" name="autor" id="autor" value="vagalume.com" required>
                    </div>
                    
                    <div class="caixa-selecao">
                        <label for="data">Data:</label>
                        <input type="date" name="data" id="data" value="2023-05-01" required>
                    </div>
                </div>

                <fieldset class="fieldset-conteudo">
                    <div class="caixa-conteudo">
                        <label for="imagem">Imagem:</label>
                        <input type="file" class="custom-file-input" id="imagem" name="imagem" accept=".jpg, .jpeg, .png, .gif">
                    </div>
            
                    <div class="caixa-conteudo">
                        <label for="conteudo">Conteudo:</label>
                        <textarea rows="6" id="conteudo" name="conteudo">O aguardado nono álbum do The National acaba de ser lançado e, boa notícia para os fãs, mostra o quinteto em ótima forma. "Firts Two Pages Of Frankenstein" não chega com a banda tentando se reinventar. A música continua melancólica, bela e climática, com a voz de barítiono de Matt Berninger sempre como um destaque.</textarea>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                    <button class="close" type="submit" onsubmit="">Cancelar</button> 
                    <button type="submit" onsubmit="">Salvar</button> 
            </div>
        </div>
    </div>

    <div id="myModal-delete" class="modal-delete">
        <div class="modal-delete-content">
            <div class="modal-delete-header">
                <h1>Excluir Post</h1>
            </div>
            <div class="modal-delete-body">
                <h2>Deseja realmente excluir este post? Essa ação é definitiva</h2>
            </div>
            <div class="modal-delete-footer">
                <button class="close-delete" type="submit" onsubmit="">Cancelar</button> 
                <button type="submit" onsubmit="">Confirmar</button> 
            </div>
        </div>
    </div>
  <script src="../../../public/js/modal.js"></script>
</body>
</html>