<!-- <!DOCTYPE html>

<html>

	<head>
		<title>Phonefy</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../../public/css/navbar.css" >
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100@400;500&display=swap" rel="stylesheet">
	</head>


	<body>
		 -->
		<header> 
			<div class="nav">
				<div class="logo"><img src="../../../public/assets/Logo horizontal.png" alt="Logo Phonefy"></div>
				<ul class="navbar">
					<li><a href="/home">HOME</a></li>
					<li><a href="./lista-posts">POSTS</a></li>
					<li><a href="./login">LOGIN</a></li>
				</ul>
			</div>
		</header>
<!-- 		
	</body>

</html> -->
