<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="recuperar_senha.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 500,
            speed: 0.5,
        });
    </script>
     <div class="logo" data-aos="fade-up">
        <img src="logo_circular.png" alt="some text" width="120" height="95">
    </div>
    <div>
        <h1 class="recuperar">Recuperação de senha</h1>
        <a>Digite o seu e-mail de usuário e enviaremos um código de redefinição de senha</a>
        <input type="text" placeholder="E-mail cadastrado">
    </div>


</body>
</html>