<!DOCTYPE html>

<html>

	<head>
		<title>Phonefy</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


	<body>
		<footer>
			<div class="container-footer">
				<div class="row-footer">
					
					<div class="footer-col">
						<h4>Missão</h4>
						<ul>
							<li> Oferecer uma plataforma moderna e intuitiva de visualização de postagens de 
								forma personalizada e fácil valorizando a experiência do usuário</li>
						</ul>
					</div>
					
					<div class="footer-col">
						<h4>Visão</h4>
						<ul>
							<li>Ser reconhecido como um dos principais sites de visualização de postagens 
								personalizadas, oferecendo recursos avançados para atender às necessidades dos usuário.</li>
						</ul>
					</div>
					
					<div class="footer-col">
						<h4>Valores</h4>
						<ul>
							<li>Liberdade de escolha do usuário</li>
							<li>Inovação</li>
							<li>Integridade</li>
							<li>Facilidade de uso</li>
							<li>Excelência no atendimento</li>
							<li>Respeito à privacidade do usuário</li>
						</ul>
					</div>
					
					<div class="footer-col">
						<h4>Nos contacte</h4>
						<div class="medias-socias">
							<a href="#"> <i class="fa fa-envelope"></i> </a>
							<a href="#"> <i class="fa fa-facebook"></i> </a>
							<a href="#"> <i class="fa fa-instagram"></i> </a>
							<a href="#"> <i class="fa fa-twitter"></i> </a>
							<a href="#"> <i class="fa fa-linkedin"></i> </a>
						</div>
					
						<div class="form-sub">
							<img src="img/Logo circular.png" alt="Logo Phonefy" width="160" height="130" >
						</div>
	
					</div>

				</div>
			</div>
		</footer>
	</body>

</html>
